<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Order</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/css/filterDisabled.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/jquery-ui-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/lib/moment.js"/>
    <script src="/js/lib/sockjs.min.js"></script>
    <script src ="/js/waiter/edit_order.js"/>
</head>
<body>
<div th:if="${#authorization.expression('hasRole(''ROLE_WAITER'')')}">
    <h3 class="form-signin-heading" align="center">Edit Order #<span th:text="${id}"/></h3>
</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <h3 class="form-signin-heading" align="center">Order's # <span th:text="${id}"/> details </h3>
</div>
<div class="container">
    <form id="editOrderForm" action="/waiter/edit_order" method="post"
          style="max-width: 500px; margin: 0 auto; font-size: larger;" onsubmit="return false;">

        <div th:replace="/th/header :: header"/>

        <div class="form-group">
            <input type="hidden" id="id" name="id" size="2" th:value="${id}"/>
        </div>

        <div class="form-group">
            <label for="table">Table #</label>
            <select id="table" class="list-group" title="Select a table number">
            </select>
        </div>

        <div class="form-group">
            <table id="odTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th hidden="true">Id</th>
                    <th>Dish</th>
                    <th>Quantity</th>
                    <th>Price, $</th>
                    <th>Del</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="form-group">
            <br/>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a href="/admin/orders">
                    <input type="button" class="btn btn-default" value="Back>>"/>
                </a>
            </div>
            <div sec:authorize="hasRole('ROLE_WAITER')">
                <a href="/waiter/orders/today">
                    <input type="button" class="btn btn-default" value="Back>>"/>
                </a>
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Add Dish</button>
                <button class="btn btn-primary" type="submit">Confirm</button>.
            </div>
        </div>

        <div id = "feedback"></div>
    </form>
</div>
<!-- Modal window-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a dish your client wants</h4>
            </div>
            <div class="modal-body">
                <table id="dTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Dish</th>
                        <th>Category</th>
                        <th>Price, $</th>
                        <th>Weight, g</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>