<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/lib/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/css/filterDisabled.css"/>
    <script src ="/js/lib/date.format-1.2.3.js"/>
    <script src ="/js/lib/moment.js"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/lib/jquery-ui-1.12.1.js"/>
    <script src="/js/lib/stomp.js"></script>
    <script src="/js/lib/sockjs.min.js"></script>
    <script src ="/js/waiter/orders_today.js"/>
    <script src ="/js/waiter/new_order.js"/>
    <!--<script src ="/js/waiter/edit_order.js"/>-->
    <script src ="/js/waiter/orders_today_messaging.js"/>

</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Orders on: <span id="date" name="date"></span></h3>
            </div>

            <div class="panel-body">
                <div th:replace="/th/header :: header"/>
                <details>
                    <summary>Messages</summary>
                    <textarea class="form-control" rows="5" id="messages" name="messages" disabled="true"/>
                </details>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="ordsTable" name="ordsTable"
                           class="display table table-hover" cellspacing="0" width="100%"
                           style="overflow-x:auto">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>isOpened</th>
                            <th>Opened</th>
                            <th>Closed</th>
                            <th>Table, #</th>
                            <th>Dishes</th>
                            <th>Total, $</th>
                            <th>Readiness, %</th>
                            <th>isFulfilled</th>
                            <th>isCancelled</th>
                            <th>Edit</th>
                            <th>Cancel</th>
                            <th>Close</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <br/>
            <button onclick="reloadOrdersTable()" class="btn">Update</button>
            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-primary">New Order</button>
            <a target="_blank" href="/waiter/orders/archive">
                <input type="button" class="btn btn-default" value="Archive"/>
            </a>
        </div>
    </div>
</div>


<!-- Modal new Order -->
<div class="modal" id="modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button>
                <h3 class="text-center">New Order</h3>
            </div>
            <div class="modal-body">
                <form id="newOrderForm" action="/waiter/edit_order" method="post" onsubmit="return false;">
                    <div class="form-group">
                        <label for="table">Table #</label>
                        <select id="table" class="list-group" title="Select a table number">
                        </select>
                    </div>

                    <div class="form-group">
                        <table id="odTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                            <thead>
                            <tr>
                                <th hidden="true">Id</th>
                                <th>Dish</th>
                                <th>Quantity</th>
                                <th>Price, $</th>
                                <th>Del</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="form-group">
                        <br/>
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Add
                            Dish
                        </button>
                        <!-- TODO do not reload page, only table! Close modal at the end -->
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>

                    <div id="feedback"></div>
                </form>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- Second modal -->
<div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button>
                <h4 class="modal-title">Dishes</h4>
            </div>
            <div class="modal-body">
                <table id="dTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Dish</th>
                        <th>Category</th>
                        <th>Price, $</th>
                        <th>Weight, g</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>