<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/lib/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/css/filterDisabled.css"/>
    <script src ="/js/lib/date.format-1.2.3.js"/>
    <script src ="/js/lib/moment.js"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src="/js/lib/stomp.js"></script>
    <script src="/js/lib/sockjs.min.js"></script>
    <script src ="/js/waiter/orders_today.js"/>
    <script src ="/js/waiter/orders_today_messaging.js"/>

</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Orders on: <span id="date" name="date"></span></h3>
            </div>

            <div class="panel-body">
                <div th:replace="/th/header :: header"/>
                <details>
                    <summary>Messages</summary>
                    <textarea class="form-control" rows="5" id="messages" name="messages" disabled="true"/>
                </details>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="ordsTable" name="ordsTable"
                           class="display table table-hover" cellspacing="0" width="100%"
                           style="overflow-x:auto">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>isOpened</th>
                            <th>Opened</th>
                            <th>Closed</th>
                            <th>Table, #</th>
                            <th>Dishes</th>
                            <th>Total, $</th>
                            <th>Readiness, %</th>
                            <th>isFulfilled</th>
                            <th>isCancelled</th>
                            <th>Edit</th>
                            <th>Cancel</th>
                            <th>Close</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <br/>
            <a target="_blank" href="/waiter/new_order">
                <input type="button" class="btn btn-primary" value="New Order"/>
            </a>
            <a target="_blank" href="/waiter/orders/archive">
                <input type="button" class="btn btn-default" value="Archive"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>