<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <layout class = "ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="ERROR"/>

    <logger name="org.springframework.web.socket">
        <level value="debug" />
    </logger>

    <!--<logger name="org.springframework.web.client.RestTemplate" level="OFF" />
    <logger name="org.springframework.web.servlet" level="OFF" />
    <logger name="org.springframework.beans" level="OFF" />
    <logger name="org.springframework.core" level="OFF" />
    <logger name="org.springframework.context" level="OFF" />
    <logger name="org.springframework.ui" level="OFF" />
    <logger name="org.springframework.web.context" level="OFF" />
    <logger name="org.springframework.aop" level="OFF" />
    <logger name="org.springframework.cache" level="OFF" />
    <logger name="org.springframework.jndi" level="OFF" />-->

    <logger name = "org.hibernate.SQL" level="DEBUG"/>

    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->

    <root level = "INFO">
        <appender-ref ref = "STDOUT"/>
    </root>

</configuration>
