<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dish details</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/all/dishs_ingredients.js"/>
</head>
<body>
<input type="hidden" id="dishId" name="dishId" th:value="${id}"/>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <label th:for="name">Dish name:</label>
            <th:block id="name" th:text="${dish}" title="Dish name"/>
            <h4>Ingredients</h4>
            <table id="ingredients" name="ingredients" class="display" align="center" width="100%" border="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
                </thead>
            </table>
            <br/>
            <a th:href="@{/}">
                <input type="button" class="btn btn-default" value="Back"/>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>
