<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var id = [[${id}]];
            console.log("id = "+id);
            var table = $('#menu').DataTable({
                "bFilter":false,
                "bLengthChange": false,
                "ajax" : {
                    "url": "/all/get_menus_dishes?id="+id,
                    "type": "POST"
                },
                columns: [
                    { "data": "id", "name": "id",  "title": "id", "visible": false},
                    { "data": "name", "name": "name", "title": "dish"},
                    { "data": "price", "name": "price, $", "title": "price, $"},
                    { "data": "category", "name": "category", "title": "category"},
                    { "data": "weight", "name": "weight", "title": "weight"}
                ]
            });
        });

    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <label for="name">Menu name:</label>
            <p id = "name" th:text = "${menu}" title="Menu name"/>
            <label for="menu">Dishes</label>
            <table id="menu" name="menu" class="display" align="center" width="100%" border="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Menu</th>
                    <th>Price, $</th>
                    <th>Dishes</th>
                    <th>Details</th>
                </tr>
                </thead>
            </table>
            <br/>
            <div class="btn-group">
                <a th:href="@{/}">
                    <input type="button" class="btn btn-default" value="Home"/>
                </a>
                <a th:href="@{/all/show_menus}">
                    <input type="button" class="btn btn-default" value="More menus"/>
                </a>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>
