<html>
<head>
    <title>Menus</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/all/menus.js"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <label for="menu">Our menus:</label>
            <table id="menu" name="menu" class="display" align="center" width="100%" border="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Menu</th>
                    <th>Price</th>
                    <th>Dishes</th>
                    <th>details</th>
                </tr>
                </thead>
            </table>
            <div class="btn-group">
                <a href="/">
                    <input type="button" class="btn btn-default" value="Home"/>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>
