<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Employee</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/admin/update_employee}" th:object="${employee}" method="post" enctype="multipart/form-data"
          style="max-width: 220px; margin: 0 auto; font-size: larger;">

        <h3 class="form-signin-heading" align="center">Edit Employee</h3>

        <div class="form-group">
            <input type="hidden" name="id" id="id" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <span th:if="${employee.getPhotoSize()} != '0'">
                <img th:src="@{/img/photo(id=*{id})}" alt="photo" height="150" width="150"
                     style="display: block; margin: 0 auto;"/>
            </span>
            <span th:unless="${employee.getPhotoSize()} != '0'">
                <img th:src="@{/img/noimage.jpg}" alt="photo" height="150" width="150"
                     style="display: block; margin: 0 auto;"/>
            </span>
        </div>

        <div th:class="${#fields.hasErrors('name') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" th:field="*{name}" style="width: 220px;" class="form-control"/>
            <label class="control-label" for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect
                data</label>
        </div>

        <div th:class="${#fields.hasErrors('login') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Login</label>
            <input type="text" name="login" id="login" th:field="*{login}" style="width: 220px;" class="form-control"/>
            <label class="control-label" for="login" th:if="${#fields.hasErrors('login')}"
                   th:errors="*{login}">Incorrect data</label>
        </div>

        <div th:class="${#fields.hasErrors('password') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Password</label>
            <input type="password" name="password" id="password" th:value="${employee.password}" class="form-control"/>
            <label class="control-label" for="password" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect
                data</label>
        </div>

        <div th:class="${#fields.hasErrors('dob') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">DOB</label>
            <input type="date" name="dob" id="dob" th:field="*{dob}"
                   style="width: 150px;" class="form-control"/>
            <label class="control-label" for="dob" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Incorrect
                data</label>
        </div>

        <div th:class="${#fields.hasErrors('phone') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Phone</label>
            <input type="text" name="phone" id="phone" th:field="*{phone}" class="form-control"/>
            <label class="control-label" for="phone" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect
                data</label>
        </div>

        <div class="form-group">
            <label>Photo</label>
            <input type="file" th:field="*{photo}" method="POST" accept=".jpg" name="photo" title="Select a photo"/>
            <label th:errors="*{photo}" class="label label-danger">Incorrect data</label>
        </div>

        <div th:class="${#fields.hasErrors('position') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Position</label>
            <select id="position" name="position" style="width: 150px" class="form-control">
                <option th:each="pos : ${positions}" th:value="${pos.name}" th:text="${pos.name}"
                        th:selected="(${pos.name} == *{position.name})">
                    Position
                </option>
            </select>
            <label class="control-label" for="position" th:if="${#fields.hasErrors('position')}"
                   th:errors="*{position}">Incorrect data</label>
        </div>

        <div th:class="${#fields.hasErrors('salary') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Salary</label>
            <input type="text" name="salary" id="salary" th:field="*{salary}" style="width: 150px;" class="form-control"/>
            <label class="control-label" for="salary" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">
                Incorrect data
            </label>
        </div>

        <label class="label label-danger" th:text="${constraintViolationError}"/>
        <label class="label label-danger" th:text="${unexpectedError}"/>

        <div class="form-group">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="btn-group">
                    <a th:href="@{/admin/}">
                        <input type="button" class="btn btn-default" value="Cancel"/>
                    </a>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <a class="hyperlink" href="/admin/employees">See all</a>
                    </div>
                    <div class="col-md-6" align="right">
                        <a class="hyperlink" href="/">Home</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</body>
</html>