<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/css/filterDisabled.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/manager/orders.js"/>

</head>
<body>
<h3 class="form-signin-heading" align="center">Orders (Manager view)</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:replace="/th/header :: header"/>
            <table id="ordsTable" name="ordsTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>isOpened</th>
                    <th class="select-filter">Opened</th>
                    <th>Closed</th>
                    <th class="select-filter">Table, #</th>
                    <th>Dishes</th>
                    <th>Total, $</th>
                    <th class="select-filter">Waiter</th>

                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Close</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>