<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Stock</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/css/filterDisabled.css"/>
    <script src="/js/lib/jquery-1.12.1.js"/>
    <script src="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/lib/jquery-ui-1.12.1.js"/>
    <script src="/js/manager/stock.js"/>
    <style media="screen" type="text/css">
        .modal {
            opacity:0.85 !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h3 align="center">Stock</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"/>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
            <div th:replace="/th/header :: header"/>
            <table id="stock" name="stock" class="display" align="center" width="100%">

                <thead>
                <tr>
                    <th>Id</th>
                    <th class="select-filter">Ingredient</th>
                    <th>Quantity</th>
                    <th>Unit</th>

                    <th>Refill</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"/>
    </div>

    <!-- Modal window-->
<div class="modal fade" id="myModal" name="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title" name="title"/>
            </div>
            <div class="modal-body">
                <form action="/admin/update_stock" method="post"
                      style="max-width: 150px; margin: 0 auto; font-size: larger;">

                    <div class="form-group">
                        <input type="hidden" id="id" name="id"/>
                    </div>

                    <div class="form-group">
                        <p><label for="quantity">Quantity</label></p>
                        <input type="text" id="quantity" name="quantity" size="5"/>
                        <span id="unit" name="unit" value=""/>
                    </div>

                    <div class="form-group">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <a href="javascript:submitIncrease()">
                                    <input type="button" class="btn btn-defailt" value="Confirm"/>
                                </a>
                            </div>
                            <div class="btn-group">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"/>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>