<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Prepared dishes</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/lib/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/filterDisabled.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/chef/prepared_dishes.js"/>
</head>
<body>
<h3 class="form-signin-heading" align="center">Prepared dishes</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3"/>
        <div class="col-md-6">
            <div th:replace="/th/header :: header"/>
            <h3 class="form-signin-heading" align="center">Dishes</h3>
            <h5 class="form-signin-heading" align="center">(of Order #)<div id="orderId" name="orderId"></div></h5>
            <table id="dishesTable" name="dishesTable" class="display" cellspacing="0" width="110%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Dish</th>
                    <th>Quantity</th>
                    <th>IsPrepared</th>

                    <th>Confirm</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-3"/>
    </div>

    <div class="row">
        <div class="col-md-3"/>
        <div class="col-md-6">
            <h3 class="form-signin-heading" align="center">Orders</h3>
            <table id="ordsTable" name="ordsTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Waiter</th>
                    <th>OpenedTime</th>
                    <th>Dishes</th>
                    <th>isFulfilled</th>
                    <th>IsCancelled</th>

                    <th>Details</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-3"/>
    </div>
</div>
</body>
</html>