<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${status}">404</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css" />
</head>
<body>
<div class="row" align="center">
    <h1 th:text="${error}">Not found</h1>
    <p th:text="${message}">This page is not available</p>
    <img src="/img/error.png" alt="NO image" height="500" width="900"/>
    <br/>
    <a href="/">
        <input type="button" class="btn btn-primary" value="Home"/>
    </a>
</div>
</body>
</html>