<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <div th:if="${#authorization.expression('isAuthenticated()')}" style="background-color: #6F4A2F;  color: #ffffff;">
        <input type="hidden" id="waiterId" name="waiterId" th:value="${#authentication.principal.id}"/>
        <input type="hidden" id="username" name="username" th:value="${#authentication.principal.username}"/>
        <div class="text-right">Welcome,
            <strong>
                <th:block th:text="${#authentication.principal.username}"/>
            </strong>
        </div>
    </div>
    <div th:fragment="header">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <div class="text-right"><a href="/perform_logout">Logout</a></div>
        </div>
    </div>
</div>
</body>
</html>