<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script src ="/js/index.js"/>
</head>
<body>
<table width="100%" border="0">
    <tr>
        <div th:switch="${#authorization.expression('isAuthenticated()')}">
            <div th:case="true">
                <td colspan="2" bgcolor="#b5dcb3">
                    <div id="header1">Welcome, <b><span th:text="${#authentication.principal.username}"/></b></div>
                    <div id="header2"><a href="/perform_logout">Logout</a></div>
                </td>
            </div>
            <div th:case="false">
                <td colspan="2" bgcolor="#b5dcb3">
                    <div id="header1">Welcome, guest!</div>
                    <div id="header2"><a href="/login">Sign in</a></div>
                </td>
            </div>
        </div>
    </tr>
    <tr valign="top">
        <td bgcolor="white" width="50%" align="center">
            <img src="/img/ovol.gif" alt="badge" height="174px" width="300px"/>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label for="dish">Our Dishes:</label>
                        <table id="dish" name="dish" class="display" align="center" width="100%" border="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th class="search">Dish</th>
                                <th class="search">Category</th>
                                <th>Weight</th>
                                <th>Price</th>
                                <th>Menus</th>
                                <th>details</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Dish</th>
                                <th>Category</th>
                                <th></th>
                                <th></th>
                                <th>Menus</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class = "footer2">
            <p align="center"><b>Address:</b> Ukraine, Kiev, Khreshatyk str, 10 <b>Tel.:</b> +380442365612, <b>Mob.:</b> +380501235231</p>
        </td>
    </tr>
    <tr>
        <td class = "footer1" colspan="2">
            <p align="center">Copyright &#169; Popov A., 2017</p>
        </td>
    </tr>
</table>

</body>
</html>
