<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var id = [[${id}]];
            console.log("id = "+id);
            var table = $('#menu').DataTable({
                "bFilter":false,
                "bLengthChange": false,
                "ajax" : {
                    "url": "/get_menus_dishes?id="+id,
                    "type": "POST"
                },
                columns: [
                    { "data": "id", "name": "id",  "title": "id", "visible": false},
                    { "data": "name", "name": "name", "title": "menu"},
                    { "data": "price", "name": "price, $", "title": "price, $"},
                    { "data": "category", "name": "category", "title": "category"},
                    { "data": "weight", "name": "weight", "title": "weight"}
                ]
            });
        });

    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label for="menu">Dishes of: ${name}</label>
            <table id="menu" name="menu" class="display" align="center" width="100%" border="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Menu</th>
                    <th>Price, $</th>
                    <th>Dishes</th>
                    <th>Details</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>
