<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Position</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-3.3.7.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/jquery.dataTables.min.css}" />
    <script src ="/js/jquery-1.12.1.js"/>
    <script src ="/js/bootstrap-3.3.7.min.js"/>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            $('#newPositionForm').submit(function(event) {
                //var position = $('#name').val();
                //var json = { "name" : position};
                var position = {}
                position["name"] = $("#name").val();

                $.ajax({
                    //url: $("#newPositionForm").attr( "action"),
                url : "/create_position_ajax",
                dataType : 'json',
                type: "POST",
                contentType : "application/json",
                //data: JSON.stringify(position),
                data: $('#newPositionForm').serialize(),

                success: function(data) {
                    var respContent = "<p>Success</p>";
                    display(data);
                    //$("#sPhoneFromResponse").html(respContent);
                },

                error: function (e) {
                    console.log("ERROR: ", e);
                    display(e);
                },

                done: function (e) {
                    console.log("DONE");
                    //enableSearchButton(true);
                }
            });
                event.preventDefault();
            });
        });

        function display(data) {
            var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
            $('#feedback').html(json);
        }
    </script>

</head>
<body>
<h3 class="form-signin-heading" align="center">Position</h3>
<div class="container">
    <form id="newPositionForm" th:action="@{/create_position_ajax}" th:object="${position}" method="post"
          style="max-width: 220px; margin: 0 auto; font-size: larger;">

        <div class="form-group">
            <input type="hidden" th:id="id" id="id" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" size="22"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect data</p>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Save</button>
        </div>

    </form>

    <div id = "feedback"></div>
</div>
</body>
</html>