<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Position</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/admin/save_position}" th:object="${position}" method="post"
          style="max-width: 220px; margin: 0 auto; font-size: larger;">
        <h3 class="form-signin-heading" align="center">New Position</h3>

        <div class="form-group">
            <input type="hidden" th:id="id" id="id" th:field="*{id}"/>
        </div>

        <div th:class="${#fields.hasErrors('name') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Name</label>
            <input type="text" th:id="name" id="name" th:field="*{name}" size="22" class="form-control"/>
            <label class="control-label" for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect
                data</label>
        </div>

        <div class="form-group">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary ">Save</button>
                </div>
                <div class="btn-group">
                    <a th:href="@{/admin/positions/}">
                        <input type="button" class="btn btn-default" value="Cancel"/>
                    </a>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <a class="hyperlink" href="/admin/positions">See all</a>
                    </div>
                    <div class="col-md-6" align="right">
                        <a class="hyperlink" href="/">Home</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</body>
</html>