<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Order Ajax</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-3.3.7.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/jquery.dataTables.min.css}" />
    <script src ="/js/jquery-1.12.1.js"/>
    <script src ="/js/bootstrap-3.3.7.min.js"/>
    <script src ="/js/jquery.dataTables-1.10.12.min.js"/>

    <script type="text/javascript" th:inline="javascript">

        // Sets up an empty Order table
        $(document).ready(function () {
            var t = $('#odTable').DataTable({
                columnDefs: [
                    {targets: [0], visible: false},
                    {targets: '_all', visible: true}
                ]
            });
            // Removers a selected dish from order
            $('#odTable tbody').on('click', 'button', function () {
                t.row($(this).parents('tr')).remove().draw();
            });
        });

        // Submits data to the server
        $(document).ready(function () {
            $('#newOrderForm').submit(function (event) {
                var json = new Object();
                json.id = 1000;
                json.isOpened = true;
                json.openedTimeStamp = new Date();
                json.closedTimeStamp = null;
                json.table = $('#table').val();
                json.waiter = 2; // Mr . Black
                json.dishes = getDishes();
                alert(JSON.stringify(json));
                $.ajax({
                    //url: $("#newPositionForm").attr( "action"),
                    url: "/create_order_ajax",
                    dataType: 'json',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(json),
                    //data: $('#newPositionForm').serialize(),
                    success: function (data) {
                        var respContent = "<p>Success</p>";
                        display(data);
                        //$("#sPhoneFromResponse").html(respContent);
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                        display(e);
                    },
                    done: function (e) {
                        console.log("DONE");
                        //enableSearchButton(true);
                    }
                });
                event.preventDefault();
            });

            // Prepares a dish array object as a part of data to be sent to the server
            function getDishes() {
                var odTable = $('#odTable').DataTable();
                var dishes = [];
                //<![CDATA[
                var dishIdArray = odTable
                        .columns(0)
                        .data()
                        .eq(0)
                        .toArray();
                var quantityString = odTable
                        .columns(2)
                        .data()
                        .eq(0)
                        .$('input')
                        .serialize();
                // Converting the following string: input=1&input=4&input=9
                var quantityArray = quantityString.split("&");
                var len = dishIdArray.length;
                for (var i = 0; i < len; i++) {
                    dishes.push({
                        dishId: dishIdArray[i],
                        quantity: quantityArray[i].slice(6)
                    });
                }
                //]]>
                return dishes;
            }

            $('#getAll').click(function () {
                alert(JSON.stringify(getDishes()));
            });
        });

        // Set up a Dish table in modal window
        $(document).ready(function () {
            var data = eval([[${dishes}]]);
            var table = $('#dTable').DataTable({
                "aaData": data,
                "aoColumns": [
                    {"mData": "id", "visible": false, "searchable": false},
                    {"mData": "name"},
                    {"mData": "category"},
                    {"mData": "price"},
                    {"mData": "weight"},
                    {"defaultContent": "<button>Add</button>"}
                ],
                "paging": true,
                "pageLength": 5,
                "ordering": true,
                "order": [1, "asc"]
            });

            // Adds a selected dish to the order
            $('#dTable tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                var t = $('#odTable').DataTable();
                t.row.add([
                    data.id,
                    data.name,
                    '<input type="text" value = "1" size = "2" name="input" onchange="alert(\'' + data.price + '\')"/>',
                    data.price,
                    '<button type="button" class="btn btn-default" id="delRow" name ="delRow">Del</button>'
                ]).draw(true);
            });

        });

        // Displays the server's feedback
        function display(data) {
            var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
            $('#feedback').html(json);
        }

        /*$("#myModal").draggable({
         handle: ".modal-header"
         });*/

    </script>
</head>
<body>
<h3 class="form-signin-heading" align="center">New Order</h3>
<div class="container">
    <form id="newOrderForm" th:action="@{/create_order_ajax}" method="post"
          style="max-width: 500px; margin: 0 auto; font-size: larger;" onsubmit="return false;">

        <div class="form-group">
            <input type="hidden" id="id"/>
        </div>

        <div class="form-group">
            <label for="table">Table #</label>
            <select id="table" class="list-group" title="Select a table number">
                <option th:each="table : ${allTables}"
                        th:value="${table}"
                        th:text="${table}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <table id="odTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th hidden="true">Id</th>
                    <th>Dish</th>
                    <th>Quantity</th>
                    <th>Price, $</th>
                    <th>Del</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="form-group">
            <br/>
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Add Dish</button>
            <button class="btn btn-default" type="button" id = "getAll">Get All</button>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </div>

        <div id = "feedback"></div>
    </form>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a dish your client wants</h4>
            </div>
            <div class="modal-body">
                <table id="dTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Dish</th>
                        <th>Category</th>
                        <th>Price, $</th>
                        <th>Weight, g</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>