<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Order Ajax</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-3.3.7.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/jquery.dataTables.min.css}" />
    <script src ="/js/jquery-1.12.1.js"/>
    <script src ="/js/bootstrap-3.3.7.min.js"/>
    <script src ="/js/jquery.dataTables-1.10.12.min.js"/>

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function() {
            var t = $('#odTable').DataTable({
                columnDefs: [
                    { targets: [0], visible: false},
                    { targets: '_all', visible: true}
                ]
            });

            var counter = 1;
            $('#addRow').on('click', function () {
                t.row.add([
                    counter,
                    'Your Dish '+counter,
                    '<input type="text" value = "1" size = "2" name="input"/>',
                    '0.0',
                    '<button type="button" class="btn btn-default" id="delRow" name ="delRow">Del</button>'
                ] ).draw(true);
                counter++;
            } );

            $('#odTable tbody').on('click','button', function () {
                var data = t.row($(this).parents('tr')).data();
                //alert( data[1] +"'s price is: "+ data[3]);
                t.row($(this).parents('tr')).remove().draw();
            } );


            $('#getAll').click( function () {
                var table = $('#table').val();
                var json = { "table" : table};
                var odTable = $('#odTable').DataTable();
                var dishes = [];
                //<![CDATA[
                var dishIdArray = odTable
                        .columns(0)
                        .data()
                        .eq(0)
                        .toArray();
                var quantityString = odTable
                        .columns(2)
                        .data()
                        .eq(0)
                        .$('input')
                        .serialize();
                // Converting the following string: input=1&input=4&input=9
                var quantityArray = quantityString.split("&");
                var len = dishIdArray.length;
                for (var i = 0; i < len; i++) {
                    dishes.push({
                        dishId: dishIdArray[i],
                        quantity: quantityArray[i].slice(6)
                    });
                }
                alert(JSON.stringify(dishes));
                //]]>
            } );
        } );


        $(document).ready(function() {
            $('#newOrderForm').submit(function(event) {
                var json = new Object();
                json.id = 1000;
                json.isOpened = true;
                json.openedTimeStamp = new Date();
                json.closedTimeStamp = null;
                json.table = "";//$('#table').val();
                json.waiter = 2; // Mr . Black
                json.dishes = [
                    {"dishId": 1, "quantity": 2},
                    {"dishId": 3, "quantity": 1},
                    {"dishId": 5, "quantity": 1}
                ];
                alert(JSON.stringify(json));
                $.ajax({
                    //url: $("#newPositionForm").attr( "action"),
                    url : "/create_order_ajax",
                    dataType : 'json',
                    type: "POST",
                    contentType : "application/json",
                    data: JSON.stringify(json),
                    //data: $('#newPositionForm').serialize(),

                    success: function(data) {
                        var respContent = "<p>Success</p>";
                        display(data);
                        //$("#sPhoneFromResponse").html(respContent);
                    },

                    error: function (e) {
                        console.log("ERROR: ", e);
                        display(e);
                    },

                    done: function (e) {
                        console.log("DONE");
                        //enableSearchButton(true);
                    }
                });
                event.preventDefault();
            });
        });

        function display(data) {
            var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
            $('#feedback').html(json);
        }

    </script>
</head>
<body>
<h3 class="form-signin-heading" align="center">New Order</h3>
<div class="container">
    <form id="newOrderForm" th:action="@{/create_order_ajax}" method="post"
          style="max-width: 500px; margin: 0 auto; font-size: larger;">

        <div class="form-group">
            <input type="hidden" id="id"/>
        </div>

        <div class="form-group">
            <label for="table">Table #</label>
            <select id="table" class="list-group" title="Select a table number">
                <option th:each="table : ${allTables}"
                        th:value="${table}"
                        th:text="${table}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <table id="odTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th hidden="true">Id</th>
                    <th>Dish</th>
                    <th>Quantity</th>
                    <th>Price, $</th>
                    <th>Del</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="form-group">
            <br/>
            <button class="btn btn-default" type="button" id = "addRow">Add Dish</button>
            <button class="btn btn-default" type="button" id = "delRow">Del Dish</button>
            <button class="btn btn-default" type="button" id = "getAll">Get All</button>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </div>

        <div id = "feedback"></div>
    </form>
</div>
</body>
</html>