<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.dataTables.min.css"/>
    <script src ="/js/jquery-1.12.1.js"/>
    <script src ="/js/jquery-ui-1.12.1.js"/>
    <script src ="/js/bootstrap-3.3.7.min.js"/>
    <script src ="/js/jquery.dataTables-1.10.12.min.js"/>
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#ordsTable').DataTable({
                "bFilter": true,
                "ajax" : {
                    "url": "/get_orders_ajax",
                    "type": "POST"
                },
                "serverSide" : true,
                columns: [
                    { "name": "id", "title": "id", "visible": false},
                    { "name": "isOpened", "title": "isOpened"},
                    { "name": "openedTimeStamp", "title": "opened time"},
                    { "name": "closedTimeStamp", "title": "closedTimeStamp"},
                    { "name": "table", "title": "table"},
                    { "name": "dishes", "title": "dishes", "sortable": false},
                    { "name": "total", "title": "total", "sortable": false},
                    { "name": "waiter", "title": "waiter"},
                    { "data": null, "defaultContent": "<button>Details</button>"}
                ]
            })
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="ordsTable" name="ordsTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto"/>
        </div>
    </div>
</div>
</body>
</html>