<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <script src ="/js/lib/jquery-1.12.1.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
    <script src ="/js/lib/jquery.dataTables-1.10.12.min.js"/>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#ordsTable').DataTable({
                "ajax" : {
                    "url": "/all_orders",
                    "type": "POST"
                },
                serverSide: true,
                columns: [
                    { "data": "id", "name": "id",  "title": "id", "visible": false},
                    { "data": "opened", "name": "isOpened", "title": "isOpened"},
                    { "data": "openedTimeStamp", "name": "openedTimeStamp", "title": "opened time"},
                    { "data": "closedTimeStamp", "name": "closedTimeStamp", "title": "closedTimeStamp"},
                    { "data": "table", "name": "table", "title": "table"},
                    { "data": "dishesQuantity", "title": "dishes", "sortable": false},
                    { "data": "total", "title": "total", "sortable": false},
                    { "data": "waiterName", "name": "waiter", "title": "waiter"},

                    { "data": null, "sortable": false, "render": function(data){
                        return '<a href="/edit_order?id=' + data.id + '"><input type="button" class="btn btn-default" value="Edit"/></a>';
                    }
                    },

                    { "data": null, "sortable": false, "render": function(data){
                        return '<a href="/delete_order?id=' + data.id + '"><input type="button" class="btn btn-default" value="Del"/></a>';
                    }
                    },

                    { "data": null, "sortable": false, "render": function(data){
                        //return '<a href="/close_order?id=\'' + data.id + '\'"><input type="button" class="btn btn-default" value="Close"/></a>';
                        return '<a href="/close_order?id=' + data.id + '"><input type="button" class="btn btn-default" value="Close"/></a>';
                    }
                    }
                ]
            });
        });
    </script>
</head>
<body>
<h3 class="form-signin-heading" align="center">Orders</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="ordsTable" name="ordsTable" class="display" cellspacing="0" width="100%" style="overflow-x:auto">
                <thead>
                <tr>
                    <th hidden="true">Id</th>
                    <th>isOpened</th>
                    <th>Opened</th>
                    <th>Closed</th>
                    <th>Table, #</th>
                    <th>Dishes</th>
                    <th>Total, $</th>
                    <th>Waiter</th>

                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Close</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>