<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Positions</title>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-3.3.7.min.css}" />
    <script src ="/js/lib/jquery-3.1.1.min.js"/>
    <script src ="/js/lib/bootstrap-3.3.7.min.js"/>
</head>
<body>
<h3 class="form-signin-heading" align="center">Positions</h3>
<div th:if="${not #lists.isEmpty(positions)}">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position.id}"/>
                <td th:text="${position.name}"/>
                <td><a th:href="@{'/admin/edit_position/'+${position.id}}">Edit</a></td>
                <td><a th:href="@{/admin/delete_position(id=${position.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>